#page-landing {
  background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%);

  text-align: center;
  min-height: 100vh;

  display: flex;
}

#container {
  margin: auto;

  width: min(90%, 112rem); /* 1120px */
}

.location,
h1,
.visit p {
  height: 16vh;
}

.visit a {
  width: 8rem;
  height: 8rem;
  background: #ffd666;

  border: none;
  border-radius: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: auto;

  transition: 500ms;
  animation-delay: 250ms;
}

/* Animações */

.visit a:hover {
  background: #96feff;
  transform: translateY(-3px);
}

#logo {
  animation-delay: 50ms;
}

.location {
  animation-delay: 100ms;
}

main h1 {
  animation-delay: 150ms;
}

.visit p {
  animation-delay: 200ms;
}

/* desktop version */
/* se o mínimo é 760px para cima */
@media (min-width: 760px) {
  #container {
    padding: 5rem 2rem;
    /* shorthand background: image repeat position / size */
    background: url("../images/bg.svg") no-repeat 65% /
      clamp(16rem, 38vw, 44rem);
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .location,
  h1,
  .visit p {
    height: initial;
    text-align: initial;
  }

  .location {
    text-align: right;
  }

  main h1 {
    font-size: clamp(3.4rem, 7vw, 7.4rem);
    font-weight: bold;
    line-height: 0.88;

    margin: clamp(6%, 8vh, 10%) 0 4rem;

    width: min(300px, 80%);
  }

  .visit {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .visit p {
    font-size: 2.4rem;
    line-height: 1.5;
    width: clamp(20rem, 20vw, 30rem);
  }

  .visit a {
    margin: initial;
  }
}
